---
---

<span id="{{key}}">
  {{ entry.author }}. <i>{{ entry.title }}</i>. <b>{{ entry.journal }}{{ entry.booktitle }} ({{ entry.year }}).</b>

  {% if entry.doi %}
  DOI: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a>
  {% endif %}

  <br/>
  [ <a data-toggle="collapse" data-target="#{{key}}-bibtex">BibTeX</a> ]

  {% if entry.url %}
    [ <a href="{{entry.url}}">URL</a> ]
  {% endif %}

  <br/>

  <div id="{{key}}-bibtex" class="collapse">
    <pre>{{entry.bibtex}}</pre>
  </div>
</span>
